
body, html, .wrapper {
    height: 100%;
    width:100%;
}

.wrapper {

     background-image: url('./cover.jpg');
    background-size: cover;




}

#demo {
  font-size: 25px;
  color:#33CC99;
  font-family: 'Nanum Gothic Coding', monospace;
}
.topleft {
    position: absolute;
    top: 0;
    left: 2;
    font-size: 20px;
    font-family: 'Nanum Gothic Coding', monospace;
    color:white;

}
.bottomcenter {
    position: absolute;
   top:0;
    right: 0;
    font-size: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
    color:white;
}

.flex-container {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 50%;
}

#this {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 25px;
}

#main {
  font-family: 'Bree Serif', serif;
}

hr {
    margin: auto;
    width: 50%;
}
